.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 12px;
}

.navbawah{
	padding-top: 8px;
	padding-bottom: 8px;
}

.whatsapp-box{
	position: fixed;
	bottom:50px;
	right:15px;
	z-index: 99;
	background: #fff;
	width: 350px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
	transform: translateY(100%);
	opacity: 0;
	visibility: hidden;
	transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.whatsapp-box.active{
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
}
.whatsapp-box .welcome-text svg{
	width: 20px;
	height: auto;
}
.whatsapp-box .welcome-text svg{
	height: 18px;
	width: auto;
	fill:#aaa;
	vertical-align: middle;
}
.whatsapp-box .welcome-text .time{
	font-size: 12px;
	color:#aaa;
}
.whatsapp-box .whatsapp-form svg{
	height: 20px;
	width: auto;
	fill:#aaa;
}
.whatsapp-box .heading{
	background:linear-gradient(#2ecc71,#1ABF60);
	padding:30px;
	color:#fff;
	text-align: center;
	position: relative;
}
.whatsapp-box .heading .btn-close{
	background: none;
	border:none;
	outline: none;
	box-shadow: none;
	position: absolute;
	top:0;
	left:0;
	color:#fff;
	padding:15px 30px;
	font-size: 20px;
}
.whatsapp-box .heading .avatar{
	width: 80px;
	height: 80px;
	background: #fff;
	border-radius: 50%;
	overflow: hidden;
	margin:0 auto 10px;
}
.whatsapp-box .heading .avatar img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.whatsapp-box .chatbox{
	padding:15px;
	background: #eee;
}
.whatsapp-box .whatsapp-form{
	display: flex;
	flex-direction: row;
	flex:1;
	padding:10px;
}
.whatsapp-box .whatsapp-form .form-control{
	width: 90%;
	border:none;
	box-shadow: none;
	background: none;
}
.whatsapp-box .whatsapp-form .btn-send{
	width: auto;
	background: none;
	border:none;
	outline: none;
}
.whatsapp-box .welcome-text{
	background: #E4FDC7;
	font-size: 14px;
	position: relative;
	padding:21px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	border-radius: 5px;
	font-family: "roboto", sans-serif;
	margin-left:15px;
	line-height: 120%;
	transform: translateY(50px);
	opacity: 0;
	visibility: hidden;
	transition: .3s ease;
	transition-delay: .6s;
}
.whatsapp-box.active .welcome-text{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.whatsapp-box .welcome-text:before{
	content: "";
	position: absolute;
	top:0;
	left:-16px;
	border:8px solid transparent;
	border-right: 8px solid #E4FDC7;
	border-top: 8px solid #E4FDC7;
}
.whatsapp-box .welcome-text .notice{
	float: right;
	margin:5px 0 0;
}

.whatsapp-box .whatsapp-form svg {
	fill: #aaa;
}

@media (max-width: 767px){
	.welcome-tip{
		display: none;
	}
	.btn-whatsapp{
		width: auto;
		left:0;
		right:0;
		border-radius: 0;
	}
	.whatsapp-box{
		top:0;
		left:0;
		bottom:0;
		right:0;
		z-index: 99999;
		width: auto;
		background: #eee;
		border-radius: 0;
		transition: .5s ease;
	}
	.whatsapp-form{
		position: absolute;
		bottom:0;
		left:0;
		right:0;
		box-shadow: 0px -10px 50px -15px rgba(0,0,0,0.1);
		background: #fff;
	}
}

.benefit-item .benefit-icon {
	font-size: 43px !important;
	margin: 0 15px;
	text-align: center;
}

.benefits-vertical .benefit-item .benefit-icon {
	float: left;
	width: 50px !important;
}

a:hover, .speaker-info p, .highlighted-plan .price, .highlighted-plan .plan-name, .benefit-item .benefit-icon i, .text-highlight, .phone-icon, .checklist i {
	color: #01a46f !important;
}

a:focus {
	color: #000000 !important;
}
.section-title hr {
	border-top-color: #01a46f !important;
}

.caption-title {
    color: #01a46f !important;
}

.caption-text {
    line-height: 1.4;
    font-size: 18px;
    color: #5c5c5c !important;
}

.hs{
	border-radius: 9%;
	border: 5px solid #01a46f !important;
}